* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    font-family: 'Inter', sans-serif; 
    padding-top: 60px;
    margin: 0px;
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                  
    padding: 15px 40px;            
    border-radius: 0px;              
    background: #005dc1;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;        
    box-shadow: 0 4px 12px rgba(5, 1, 1, 0.15);
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: flex-start;        
    gap: 100px;
}

.header-info h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;               
    font-weight: 700;
    margin: 0 0 12px 0;    
}

.header-info p {
    margin: 0;
    font-size: 1.2em;
}

.app {
    background-color: #2e1e02;
    margin: 0;
    margin-top: 80px;
    width: 360px;
    min-height: 500px;
    background: #232222;
    border: 3px solid #007bff;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-items: center;
}

.app-header {
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.app-footer {
    text-align: center;
    font-size: 0.9em;
    color: #555;          
    margin-top: 20px;     
    font-family: 'Inter', sans-serif;
}

.app-input {
    text-align: center;
}

.task-list {
    list-style-position: inside;
    list-style: none;
    padding: 0;
    margin: 16px auto 0 auto;
    max-height: 300px;
    width: 100;
    max-width: 280px;
    overflow-y: auto;
}

.task-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    border: 1px solid #007bff;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #0b2e55;
    color: white;
}

.task-list li span {
    flex: 1;
    color: white;
}

.done {
  text-decoration: line-through;
  opacity: 0.6; 
}

.remove {
    background: transparent;
    border: none;
    color: rgb(175, 73, 73);
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 8px;
}